<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - enfoco2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/enfoco2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow p-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="w-75" src="~/img/logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50" style="fill: #424642;">
                            <path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"></path>
                        </svg>
                    </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-end nav-gap">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">TRIBUNAL DE CUENTAS</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Fiscalia">FISCALÍA DE ESTADO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Etica">ÉTICA PÚBLICA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Create">Crear</a>
                        </li>




                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="buscar..." aria-label="Search">
                        <button class="btn" type="submit"><img class="w-50" src="https://img.icons8.com/424642/search"></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container pb-5">
        <main role="main" class="pb-3 mb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm justify-content-between">
                <ul class="navbar-nav flex organismos">
                    <li class="nav-item"><a target="_blank" href="https://www.tribunaldecuentas.mendoza.gov.ar/">Tribunal de Cuentas</a></li>

                    <li class="nav-item"><a target="_blank" href="http://fiscalia.mendoza.gov.ar/">Fiscalía de Estado</a></li>

                    <li class="nav-item"><a target="_blank" href="https://eticapublica.mendoza.gov.ar/">Ética Pública</a></li>
                </ul>

                <form class="newsletter">
                    <h6 class="text-light text-end">Suscribite a nuestro <br /> Newsletter</h6>
                    <div class="input-group flex-wrap w-50">
                        <span class="input-group-text">&#64;</span>
                        <input type="email" class="form-control" placeholder="email">
                    </div>
                    <button class="btn naranja text-light" type="submit">Enviar</button>
                </form>
            </nav>
           
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

