@model enfoco2.Models.Notice

@{
    ViewData["Title"] = Model.Title;
}

@inject enfoco2.Services.NoticeService NoticeService
@{
    var notice = await NoticeService.GetNoticeByIdAsync(Model.Id);
}

<div class="notice-detail-container p-5">
    <div class="img-notice-container">
        <img class="img-fluid w-100" src="@notice.Img" alt="noticia">
    </div>
    <div class="title-notice">
        <h5 class="text-naranja">@notice.Issue</h5>
        <h2 class="editorial">@notice.Title</h2>
    </div>
    <div class="content-notice mt-4">
        <p>@Html.Raw(notice.Text)</p>
    </div>
</div>
