@{
    ViewData["Title"] = "Revista ENFOCO";
}

<div class="text-center notice-container p-5">
    <article class=" notice">
        <img class="img-fluid w-100" src="https://storage.googleapis.com/el-auditor-assets/649c83b02a27ee65c122c86d/720.webp" alt="noticia">
        <div class="title-notice w-75">
            <h5 class="text-naranja">INFORME DE AGN</h5>
            <h2 class="editorial">Falta de planificación en la implementación de la ESI: objetivos y recursos</h2>
        </div>
    </article>
    <article class=" notice">
        <img class="img-fluid w-100" src="https://storage.googleapis.com/el-auditor-assets/649c83b02a27ee65c122c86d/720.webp" alt="noticia">
        <div class="title-notice w-75">
            <h5 class="text-naranja">INFORME DE AGN</h5>
            <h2 class="editorial">Falta de planificación en la implementación de la ESI: objetivos y recursos</h2>
        </div>
    </article>
    <article class=" notice">
        <img class="img-fluid w-100" src="https://storage.googleapis.com/el-auditor-assets/649c83b02a27ee65c122c86d/720.webp" alt="noticia">
        <div class="title-notice w-75">
            <h5 class="text-naranja">INFORME DE AGN</h5>
            <h2 class="editorial">Falta de planificación en la implementación de la ESI: objetivos y recursos</h2>
        </div>
    </article>
    <article class=" notice">
        <img class="img-fluid w-100" src="https://storage.googleapis.com/el-auditor-assets/649c83b02a27ee65c122c86d/720.webp" alt="noticia">
        <div class="title-notice w-75">
            <h5 class="text-naranja">INFORME DE AGN</h5>
            <h2 class="editorial">Falta de planificación en la implementación de la ESI: objetivos y recursos</h2>
        </div>
    </article>
    <article class=" notice">
        <img class="img-fluid w-100" src="https://storage.googleapis.com/el-auditor-assets/649c83b02a27ee65c122c86d/720.webp" alt="noticia">
        <div class="title-notice w-75">
            <h5 class="text-naranja">INFORME DE AGN</h5>
            <h2 class="editorial">Falta de planificación en la implementación de la ESI: objetivos y recursos</h2>
        </div>
    </article>
    <article class=" notice">
        <img class="img-fluid w-100" src="https://storage.googleapis.com/el-auditor-assets/649c83b02a27ee65c122c86d/720.webp" alt="noticia">
        <div class="title-notice w-75">
            <h5 class="text-naranja">INFORME DE AGN</h5>
            <h2 class="editorial">Falta de planificación en la implementación de la ESI: objetivos y recursos</h2>
        </div>
    </article>
    <article class=" notice">
        <img class="img-fluid w-100" src="https://storage.googleapis.com/el-auditor-assets/649c83b02a27ee65c122c86d/720.webp" alt="noticia">
        <div class="title-notice w-75">
            <h5 class="text-naranja">INFORME DE AGN</h5>
            <h2 class="editorial">Falta de planificación en la implementación de la ESI: objetivos y recursos</h2>
        </div>
    </article>
    <article class=" notice">
        <img class="img-fluid w-100" src="https://storage.googleapis.com/el-auditor-assets/649c83b02a27ee65c122c86d/720.webp" alt="noticia">
        <div class="title-notice w-75">
            <h5 class="text-naranja">INFORME DE AGN</h5>
            <h2 class="editorial">Falta de planificación en la implementación de la ESI: objetivos y recursos</h2>
        </div>
    </article>
   
   
</div>

