@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="container p-5">
    <h2>Iniciar Sesión</h2>
    <form id="loginForm" method="post" class="p-5">
        <div class="form-group mt-3 mb-3">
            <input placeholder="usuario" type="text" class="form-control" id="user" name="userEntered" required>
        </div>
        <div class="form-group mt-3 mb-3">
            <input placeholder="password" type="password" class="form-control" id="password" name="passwordEntered" required>
        </div>
        <button type="submit" class="btn naranja mt-3 mb-3">Entrar</button>
    </form>

   
</div>
