@{
    ViewData["Title"] = "ENFOCO";
}


<div class="notice-container pt-5 text-center flex-column">

  <h1>¡Muchas gracias por suscribirte!</h1>
  <p>Muy pronto vas a recibir más novedades</p>
    <a href="@Url.Action("Index", "Home")" class="btn volver"><img style="position: relative; top:-1px;" width="24" height="24" src="https://img.icons8.com/material/24/000000/back--v1.png" alt="back--v1" />VOLVER</a>
</div>