@model List<enfoco2.Models.Newsletter>

@{
    ViewData["Title"] = "ENFOCO";
}

@if (Model == null)
{
        <p class="mt-5 notice-container pt-5">No hay suscriptores</p>
}

<div class="notice-container pt-5 flex-column text-center">
    <h1>Emails registrados</h1>

    <ul class="h-75 overflow-scroll">
        @foreach (var newsletter in Model)
        {
                    <li>@newsletter.Email</li>
        }
        </ul>
</div>