@{
    ViewData["Title"] = "ENFOCO";
}


<div class="notice-container pt-5 text-center flex-column">

  <h1>¡Muchas gracias por suscribirte!</h1>
  <p>Muy pronto vas a recibir más novedades</p>
</div>