html {
  font-size: 14px;
}

body {
    background-color: #f3f4ed;
    color: #424642 !important;
    font-size:0.9em !important;
}

a {
    color: #424642 !important;
}

    a:hover {
        color: #c06014 !important;
    }

.text-dark{
    color: #424642 !important;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.newsletter {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.newsletter h6{
    margin: 0;
}

.naranja {
    background-color: #c06014;
}