@font-face {
  font-family: "Editorial";
  src: url("../fonts/EditorialNew-Bold.ttf"),
    url("../fonts/EditorialNew-Heavy.ttf"),
    url("../fonts/EditorialNew-Light.ttf"),
    url("../fonts/EditorialNew-Medium.ttf"),
    url("../fonts/EditorialNew-Regular.ttf"),
    url("../fonts/EditorialNew-Thin.ttf");
}

html {
  font-size: 14px;
}

body {
  background-color: #f3f4ed;
  color: #424642 !important;
  font-size: 0.9em !important;
}

a {
  color: #424642 !important;
  text-decoration: none;
}

a:hover {
  color: #c06014 !important;
}

h1,
h2 {
  font-family: "Editorial";
}

h2{
  font-size: 16pt;
}

h5{
  font-size: 10pt;
}

h6{
  font-size: 9pt;
}

header {
    box-shadow: -1px 3px 28px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 28px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 28px -10px rgba(0,0,0,0.75);
}
.text-dark {
  color: #424642 !important;
}

article{
    cursor:pointer;
}

article:hover{
    opacity: 0.9;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.newsletter {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.newsletter h6 {
  margin: 0;
}

.text-naranja {
  color: #c06014;
}

.naranja {
  background-color: #c06014;
}

.notice-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 gap: 2em;
}

.notice {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 450px;
}

.notice-big {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
}

.title-notice {
  background-color: #fff;
  border: 2px solid #c06014;
  box-shadow: 7px 9px 0px 0px #c06014;
  -webkit-box-shadow: 7px 9px 0px 0px #c06014;
  -moz-box-shadow: 7px 9px 0px 0px #c06014;
  position: relative;
  top: -60px;
  padding: 20px;
  text-align: left;
}

.title-notice:hover{
    top: -63px;
}

.title-notice h5{
  font-style: italic;
  font-weight: bolder;
}

.img-notice-container{
    width:450px;
    height:230px;
    overflow:hidden;
}

.footer {
    background-color: #424642 !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}